name: Qodana Scan

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
          fetch-depth: 0  # a full history is required for pull request analysis

      - name: 'Qodana Scan'
        uses: jetbrains/qodana-cdnet:2025.3-eap
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
