name: Qodana Scan

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
          fetch-depth: 0  # a full history is required for pull request analysis

      - name: Unity Build (compile scripts)
        uses: game-ci/unity-builder@v4
        with:
          unityVersion: 6000.3.6f1
          targetPlatform: StandaloneWindows64
        env:
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}

      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.3.1
        with:
          args: --solution=RoguelikePvEauto-battler.sln
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
