name: Qodana Scan

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      checks: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Qodana Scan
        uses: JetBrains/qodana-action@v2025.2
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
        with:
          args: --save-report --report-format=sarif
